/******************************** Caractéristiques générales de la page Web *******************************/
/* Caractéristiques de la page */
body{
	width:100%;
	background-image: url('../images/BG.jpg');
	background-position: left top;
	font-family: verdana, arial, trebuchet, georgia;
}

/* Caractéristiques des titres et textes */
h1{
	font-size: 1em;
	color: #5E573E;
}

h2{
	font-size: 1em;
	color: #5E573E;
	text-transform: none;
	text-align: left;
	background-color: transparent;
	padding-bottom: 10px;
	border-bottom: 1px dotted black;
}

h3{
	font-size: 0.8em;
_	text-transform: none;
	text-align: left;
	background-color: transparent;
}

p
{
	font-size: 0.8em;
}

/************************** Caractéristiques des contenus de page *************************************/
/* Caracteristiques du conteneur de la page web */
#container
{
	background-color: white;
	box-shadow: 0 0 5px 5px #D8D8D8;
	position: relative;
	width: 80%;
	padding: 40px;
	margin: auto;
	overflow: hidden;
}

/************************** Caractéristiques de l'entête de page (menu + logo) *************************************/
/* En tete de page */
header
{
	width: 100%;
	height: 125px;
}

/* Logo de haut de page */
#logo
{
	position: relative;
   	float: left;
	width: 200px;
	height: 100px;
}

/* Image animé */
#bandeau
{
	position: relative;
   	float: right;
}

#anim
{
	width: auto;
	height: 150px;
}

/* Bouton de deconnexion */
.button_black
{
	float: left;
	width: auto;
	padding: 10px;

	font-size: 0.8em;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);

	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border: solid 1px #333;
	background-color: black;
}

.button_black: hover
{
	background-color: #D8D8D8;
}

.button_black a
{
	color: white;
	text-decoration: none;
}

/***************************** Caracteristiques des sections supervision des bassins *********************************/
.bassin
{
	width: 100%;
	height: auto;
	float: left;
}

/* Mesures à gauche */
.Mesure
{
	width: 40%;
	height: auto;
	text-align: justify;
	display: inline-block;
}

/* Webcam à droite */
.Webcam
{
	width: 40%;
	height: auto;
	text-align: justify;
	display: inline-block;
}

/**************************** Caracteristiques du bas de page ****************************/
/* Propriétés du footer */
footer
{
	width: 100%;
	height: 20px;
	position: fixed;
	bottom: 0;
	display: block;
	padding: 10px;
	background: #D8D8D8;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	color: #5E573E;
}